[submodule "Carthage/Checkouts/Swiftx"]
	path = Carthage/Checkouts/Swiftx
	url = https://github.com/typelift/Swiftx.git
[submodule "Carthage/Checkouts/Swiftz"]
	path = Carthage/Checkouts/Swiftz
	url = https://github.com/typelift/Swiftz.git
